<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109488680522-uemaj6mqr8j0u55ip2u4cd9ubkqhgo1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109488680522-uemaj6mqr8j0u55ip2u4cd9ubkqhgo1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBpx7ZdrHmU-XwYtuR150J20eFcG8nXp5I</string>
	<key>GCM_SENDER_ID</key>
	<string>109488680522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ros2Flutter</string>
	<key>PROJECT_ID</key>
	<string>ros2flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ros2flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109488680522:ios:9c51b425b9ef5c2cd800b3</string>
	<key>DATABASE_URL</key>
	<string>https://ros2flutter-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>